// @import '~bootstrap/scss/bootstrap';

body {
  background-color: grey;
}

// #formCarrier {
//   background-color: green;
//   height: 650px;
//   width: 650px;
//   margin-left: 26.9%;
//   margin-top: -50px;
//   position: absolute;
// }
//
// h1 {
//   text-align: center;
//   color: black;
//   position: relative;
// }
//
// .unauthenticated {
//   text-align: center;
//   font-size: 50px;
//   margin-top: 150px;
//   position: relative;
// }

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  text-align: center;
}
