// @import '~bootstrap/scss/bootstrap';

body {
  background-color: grey;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  text-align: center;
}
